<div class="form">
    <form method="post" action="http://mysql.local/shop/index.php?route=register">
        <div>
            <p>Email</p>
            <input type="text" name="email">
        </div>
        <div>
            <p>Name</p>
            <input type="text" name="name">
        </div>
        <div>
            <p>Phone</p>
            <input type="text" name="phone">
        </div>
        <div>
            <p>Password</p>
            <input type="password" name="password">
        </div>
        <button type="submit">Register</button>
    </form>
</div>