
@font-face {
    font-family: 'CLARENDON';
    src: url('./fonts/CLARENDON.eot');
    src: local('CLARENDON'), url('./fonts/CLARENDON.woff') format('woff'), url('./fonts/CLARENDON.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-family: CLARENDON;
}

.wrapper {
    position: relative;
    width: 100%;
}

.container {
    display: flex;
    position: relative;
    width: 1700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
}

.block {
    position: relative;
    width: 100%;
}

#purple{
    background-color: #3e1053;
}

.block:first-child .column:first-child{
    flex: 1;
    padding-right: 30px;
}
.block:first-child .column:last-child{
    flex: 3;
}

.column{
    height: 1000px;
}

.column hr {
    border-color: yellow;
    position: relative;
    width: 50px;
}

.column h2 {
    color: white;
    padding: 15px 0px;
}

.column span {
    color: grey;
}

.column a {
    display: inline-block;
    color: white;
    padding-top: 20px;
    text-decoration: none;
    border-bottom: 2px solid dodgerblue;
}

.column div i {
    display: inline-block;
}

.article {
    display: flex;
    margin-bottom: 20px;
}
.article i {
    font-size: 50px;
    color: yellow;
    margin-right: 20px;
}

.text h3 {
    color: white;
    margin-bottom: 10px;
}

.article .text {
    flex: 6;
}