<div class="container">
    <a href="http://mysql.local/shop/admin/index.php?route=article_create">Create New Article</a>
    <table>
        <thead>
        <tr>
            <th>Article Name</th>
            <th>Action Edit</th>
            <th>Action Delete</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($articles as $article){ ?>
        <tr>
            <td><?php echo $article['title']; ?></td>
            <td> <a href="http://mysql.local/shop/admin/index.php?route=article_edit&article_id=<?php echo $article['id']; ?>">edit</a> </td>
            <td> <a href="http://mysql.local/shop/admin/index.php?route=article_delete&article_id=<?php echo $article['id']; ?>">delete</a> </td>
        </tr>
        <?php } ?>
        </tbody>
    </table>
</div>